# Misc
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# Flutter/Dart/Pub
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.generated/
.melos_tool/

# Android
android/app/build/
android/.gradle/
android/local.properties
**/android/**/gradle/
**/android/**/captures/

# iOS
ios/Flutter/Flutter.podspec
ios/Pods/
ios/Runner.xcworkspace/
ios/.symlinks/
**/ios/**/build/

# VS Code
.vscode/

# IntelliJ
.idea/
*.iml

# Others
.DS_Store
*.lock